---
import TerminalShell from '../components/TerminalShell.jsx';
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QrQuest Code</title>
    <link rel="stylesheet" href="public/styles/gris.css" />
  </head>
  <body>
    <TerminalShell client:load />
  </body>
</html>
