---
import TerminalShell from "../components/TerminalShell.jsx";
import GeoGate from "../components/GeoGate.jsx";
import "../styles/black.scss";
---

<html lang="fr">
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="alternate icon" href="/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activate Cities</title>
  </head>
  <body>
    <!-- <GeoGate client:load> -->
      <TerminalShell client:load />
    <!-- </GeoGate> -->
  </body>
</html>
